body {
  font-family: 'Poppins', sans-serif;
  background-color: #f3f4f6;
  color: #333;
  text-align: center;
  margin: 0;
  padding: 0;
}

header {
  background-color: #0078ff;
  color: white;
  padding: 30px 0;
}

section {
  margin: 40px;
}

button {
  background-color: #0078ff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #005fcc;
}
